* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1{
    text-align: center;
    font-size: 100px;
}


.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background-color: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -10%;
    top: -50%;
    z-index: -1;
}

.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background-color: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -10%;
    bottom: -50%;
    z-index: -1;
}

.clock {
    width: 100%;
    height: 100%;
    background-color: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MINS';
}

#sec::after {
    content: 'SECS';
}